.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;

  &--dark {
    color: #000000;
  }
}

.pagination__text {
  line-height: 31px;
  margin-right: 25px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 31px;

  &:hover {
    background: $orange;
    color: #FFFFFF;
  }   
}