$baseFontSize: 14px;
$containerWidth: 1200px;

//colors
$orange: #FF5500;
$hoverOrange: #FF3D00;
$gray: #8E8E8E;
$hoverGray: #2B2B2B;

//normalize
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

//setups
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap');
@import "_layout.scss";

//blocks
@import "./blocks/_header.scss";
@import "./blocks/_logo.scss";
@import "./blocks/_dropdown.scss";
@import "./blocks/_menu.scss";
@import "./blocks/_contacts.scss";
@import "./blocks/_intro.scss";
@import "./blocks/_button.scss";
@import "./blocks/_offers.scss";
@import "./blocks/_news.scss";
@import "./blocks/_title-h2.scss";
@import "./blocks/_pagination.scss";
@import "./blocks/_about.scss";
@import "./blocks/_top.scss";
@import "./blocks/_breadcrumbs.scss";
@import "./blocks/_services.scss";
@import "./blocks/_partners.scss";
@import "./blocks/_reviews.scss";
@import "./blocks/_tag.scss";
@import "./blocks/_stocks.scss";
@import "./blocks/_forms.scss";
@import "./blocks/_form.scss";
@import "./blocks/_controls.scss";
@import "./blocks/_footer.scss";
@import "./blocks/_social.scss";